/GenerativeModels/GLO/training_dir
*.idea*
*__pycache*
*pyc*
/losses/vgg_loss/vgg16-397923af.pth
/kmeans/output_dir
/kmeans/pmo_output_dir

/GenerativeModels/GLO/outputs
/GenerativeModels/GMMN/outputs
/GenerativeModels/VAE/outputs
/GenerativeModels/AutoEncoders/outputs
/GenerativeModels/Experiments_outputs
/style_transfer/outputs
/style_transfer/imgs
/perceptual_mean_optimization/clusters
/perceptual_mean_optimization/single_outputs
/perceptual_mean_optimization/outputs
/perceptual_mean_optimization/2_images_outputs
/Experiments/compare_trained_generators_losses_outputs
/Experiments/trained_models
/Experiments/test_swd
/Experiments/latent_neighbors_sets
/image_retargeting/style_synthesis
/Experiments/gradient_comparisons
/Experiments/optimize_model
/Experiments/box_dataset
/image_retargeting/images
/image_retargeting/optimized_images_outputs
/cnn_visuzlization/Outputs
/losses/gabor_loss/*.pth
/losses/gabor_loss/*.png