/GenerativeModels/GLO/training_dir
*.idea*
*__pycache*
*pyc*
/losses/vgg_loss/vgg16-397923af.pth
/kmeans/output_dir
/kmeans/pmo_output_dir
/perceptual_mean_optimization/outputs

/GenerativeModels/GLO/outputs
/GenerativeModels/GMMN/outputs
/style_transfer/network_outputs
/style_transfer/optimize_output
/style_transfer/imgs
/style_transfer/dataset
/perceptual_mean_optimization/clusters